<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Elixicor</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="<%= para1 %>">
      <a href="/">&nbsp; Records</a>
    </li>
    <li class="<%= para2 %>">
      <a href="/treatment">&nbsp; Treatment</a>
    </li>
    <li class="<%= para3 %>">
      <a href="/patient/profile">&nbsp; Profile</a>
    </li>
  </ul>
</nav>
