<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elixicor | Home</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <style>
      .nav-link {
        font-size: x-large;
      }
      .nav-link:hover {
        text-decoration: underline;
        font-size: x-large;
      }
      h1 {
        font-size: 3em;
      }
      p {
        font-size: larger;
      }
      #patient {
        margin-left: 15px;
      }
      @media (max-width: 991px) {
        #patient {
          margin-left: 0;
          margin-top: 5px;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" width="80" height="80" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="/login/staff" class="btn btn-outline-light">Staff</a>
            <a href="/login/patient" class="btn btn-outline-light" id="patient">Patient</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-6 my-auto">
          <div class="container">
            <h1>Elixicor</h1>
            <h4>Contactless through Digitally</h4>
            <p>
              Elixicor is a platform whose motto is to provide the medical service "contactless through digitally". It
              tackles the problem of the medical staff coming in contact with each other especially during this high
              time when Corona is leading the world. It can also be used to inform the doctor with the best medicine
              which should be prescribed to the patient during consultancy and a period of time a patient will generally
              take to be completely disease-free based on the following attributes like weight, height, gender, etc to
              predict the results more accurately.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <img src="/images/home-1.png" alt="" width="100%" />
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
