<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Firebase Package-->
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>

    <!-- Loads the login UI elements-->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-wrap">
      <div class="login-html">
        <h2>APP NAME</h2>
        <div class="container">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label for="tab-1" class="tab">
            Patient
          </label>
          <input id="tab-2" type="radio" name="tab" class="sign-up" /><label for="tab-2" class="tab">Sign Up</label>
          <div class="login-form">
            <div class="sign-in-htm">
              <h3>Login for Patient</h3>
              <div class="signin_button">
                <div id="firebaseui-auth-container"> </div>
              </div>
            </div>
            <div class="sign-up-htm">
              <h3>Login for Staff</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyA07Q5GUbpQxRfL-KCpfqEhMQaroQECMgI",
        authDomain: "hack-36-50a0f.firebaseapp.com",
        projectId: "hack-36-50a0f",
        storageBucket: "hack-36-50a0f.appspot.com",
        messagingSenderId: "155758300327",
        appId: "1:155758300327:web:b98b98f0cb807c55329f82",
        measurementId: "G-W87YT4XFRW",
      };
      firebase.initializeApp(firebaseConfig);
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
      // FirebaseUI config.
      var uiConfig = {
        signInOptions: [
          // google sign in option
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        ],
        // Terms of service url/callback.
        tosUrl: "<your-tos-url>",
        // Privacy policy url/callback.
        privacyPolicyUrl: function () {
          window.location.assign("<your-privacy-policy-url>");
        },
        callbacks: {
          signInSuccess: function (user, credential, redirectUrl) {
            // User successfully signed in.
            user
              .getIdToken()
              .then(function (idToken) {
                // document.cookie = "__session=idToken"
                window.location.href = "/savecookie?idToken=" + idToken;
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
      };
      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start("#firebaseui-auth-container", uiConfig);
    </script>
  </body>
</html>
