<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elixicor | Profile</title>

    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/records.css" />
    <link rel="stylesheet" href="/css/patient_list.css" />
    <!-- Scrollbar Custom CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />

    <!-- Font Awesome JS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Elixicor</h3>
        </div>
        <img src="/images/patient_sidebar.svg" alt="" width="200px" height="200px" id="sidebar_image" />
        <!-- <ul class="list-unstyled CTAs">
          <li class="d-flex justify-content-center">
            <a href="#" class="article">Add New Patient</a>
            <button type="button" class="btn article" data-toggle="modal" data-target="#exampleModal">
              Add New Patient
            </button>
          </li>
        </ul> -->
      </nav>
      <!-- Page Content  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span></span>
            </button>
            <!-- <button class="btn btn-danger">Logout</button> -->
            <a href="/logout" class="btn btn-danger" type="button">Logout</a>
          </div>
        </nav>

        <div class="container">
          <h2>Prescription</h2>
          <div class="alert alert-warning mt-3" role="alert"> This is a prototype for now! </div>
          <div class="input-group my-5 col-6">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">covid</option>
              <option value="2">cancer</option>
              <option value="3">AIDS</option>
            </select>
          </div>
          <div class="mb-5">
            <h4>Predicted Medicine</h4>
            <ol>
              <li>Medicine 1</li>
              <li>Medicine 2</li>
              <li>Medicine 3</li>
            </ol>
          </div>
          <div>
            <h4>Doctor's Medicine</h4>
            <form class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Medicine 1</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Medicine 2</label>
                <input type="text" class="form-control" id="exampleInputPassword1" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">Medicine 3</label>
                <input type="text" class="form-control" id="exampleInputPassword2" />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="my-5">
            <h4>ML Prediction</h4>
            <div class="input-group col-6">
              <div class="input-group-prepend">
                <span class="input-group-text">Probability</span>
              </div>
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
